#edit-slug-box {
	display: none;
}

.dscp-page-chooser {
	display: block;
}

.dscp-field {
	margin: 1em 0;
}

.dscp-explain.description {
	margin-top: 1em;
}

#wp-admin-bar-view {
	display: none;
}

#preview-action {
	display: none;
}

#dscp_sitemap_pages {
	height: 200px;
}
